/* Browser default styles (you can't edit these) */
h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

a {
  color: blue;
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}
